<div class="page-header">
  <%= link_to new_user_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New User
  <% end %>
  <h1>Listing users</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <% if current_user %>
        <th>User Repository IDs</th>
        <th>User Issue IDs</th>
        <th colspan="3"></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <% if current_user %>
          <td><%= user.email %></td>
        <% else %>
          <td><%= "•" * 15 %></td>
        <% end %>
        <% if current_user %>
        <td>
          <% Repository.select { |repo| repo.user.id == user.id }.each do |repo| %>
            <%= link_to("#{repo.id}", repository_path(repo.id)) %>,
          <% end %>
        </td>
        <td>
          <% Issue.select { |issue| issue.user.id == user.id }.each do |issue| %>
            <%= link_to("#{issue.id}", issue_path(issue.id)) %>,
          <% end %>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
