<div class="page-header">
  <%= link_to new_session_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Session
  <% end %>
  <h1>Listing sessions</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>New</th>
            <th>Create</th>
            <th>Destroy</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @sessions.each do |session| %>
    <tr>
            <td><%= session.new %></td>
            <td><%= session.create %></td>
            <td><%= session.destroy %></td>
            <td><%= link_to 'Show', session %></td>
        <td><%= link_to 'Edit', edit_session_path(session) %></td>
        <td><%= link_to 'Destroy', session, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
