<div class="page-header">
  <%= link_to sessions_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_session_path(@session), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show session</h1>
</div>

<dl class="dl-horizontal">
  <dt>New:</dt>
  <dd><%= @session.new %></dd>

  <dt>Create:</dt>
  <dd><%= @session.create %></dd>

  <dt>Destroy:</dt>
  <dd><%= @session.destroy %></dd>

</dl>
