<p id="notice"><%= notice %></p>

<h1>Issues</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Text</th>
        <th>Repository</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @issues.each do |issue| %>
        <tr>
          <td><%= issue.subject %></td>
          <td><%= issue.text %></td>
          <td><%= issue.repository_id %></td>
          <td><%= issue.user.id %></td>
          <td><%= link_to 'Show', issue %></td>
          <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
          <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Issue', new_issue_path %>
