<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @issue.subject %>
</p>

<p>
  <strong>Text:</strong>
  <%= @issue.text %>
</p>

<p>
  <strong>Repository:</strong>
  <%= link_to "#{@issue.repository_id}", repository_path(@issue.repository_id) %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to "#{@issue.user.id}", user_path(@issue.user.id) %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
